//переменные фона
$primary-color: #FFFFFF;
$primary-color-active: #E0E0E0;
$primary-color-shadow: #0000001a;
$primary-color-border: #e9ecef;


//переменные текста
$primary-text-color: #333333;
$secordary-text-color: #76787D;
$title-text-color: #E31F24;


// начертание шрифта
$regularFont: 400;
$semiboldFont: 600;
$boldFont: 700;

//шриФТ
$font-family-primary: Montserrat;

//прелоадер
$preloader-count: 10;
$preloader-time: 2; //in seconds
$preloader-size: 100;
