.box {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
  color: #f2f2f3;

  &:active * {
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }

  &__loader {
    position: relative;
    display: flex;
    font-size: 12px;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 0.15em);
      left: -5vw;
      height: 0.3em;
      width: calc(100% + 10vw);
      border-radius: 50%;
      background-color: currentColor;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-filter: blur(0.05em) contrast(2);
      filter: blur(0.05em) contrast(2);
      box-shadow: 0 0 1em #4c4cff, 0 0 2em rgb(23, 23, 192);
    }
  }

  &__o {
    position: relative;
    left: -42px;
    z-index: 1;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: currentColor;
    margin-left: 3em;
    margin-right: 3em;
    -webkit-animation: translateX 1s linear infinite;
    animation: translateX 1s linear infinite;
    -webkit-filter: blur(0.3em) contrast(5);
    filter: blur(0.3em) contrast(5);
    box-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
      0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);

    &:first-child {
      -webkit-animation-name: translateX, hide-show;
      animation-name: translateX, hide-show;
      -webkit-animation-timing-function: linear, step-end;
      animation-timing-function: linear, step-end;
    }

    &:last-child {
      -webkit-transform-origin: -99px 50%;
      transform-origin: -99px 50%;
      -webkit-animation-name: helf-rotate;
      animation-name: helf-rotate;
      -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.4, 1.25);
      animation-timing-function: cubic-bezier(0.25, 0, 0.4, 1.25);
    }
  }

  &__intro {
    width: 90%;
    max-width: 50rem;
    padding-top: 0.5em;
    padding-bottom: 1rem;
    margin: 0 auto 1em;
    font-size: calc(1rem + 2vmin);
    text-transform: capitalize;
    text-align: center;
    font-family: serif;
  }

  &__intro small {
    display: block;
    text-align: right;
    opacity: 0.5;
    font-style: italic;
    text-transform: none;
    border-top: 1px dashed rgb(26, 233, 18);
  }

  &__info {
    margin: 0;
    padding: 1em;
    font-size: 0.9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    opacity: 0.75;
  }

  &__info a {
    color: inherit;
  }
}

@-webkit-keyframes translateX {
  100% {
    -webkit-transform: translateX(84px);
    transform: translateX(84px);
  }
}

@keyframes translateX {
  100% {
    -webkit-transform: translateX(84px);
    transform: translateX(84px);
  }
}

@-webkit-keyframes helf-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50.1%,
  100% {
    opacity: 0;
  }
}

@keyframes helf-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50.1%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hide-show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes hide-show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
