.header {
  max-width: 1440px;
  height: 56px;
  display: flex;
  padding: 0 140px;
  justify-content: space-between;
  background-color: #fdfdfd;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

